:root {
    --bg: #000000;
    --text: #ffffff;
    --accent: #b70909;
    --select: #991313;
    --grey: grey;
    --select-txt: #ffffff;
}

.dark-mode {
    --bg: #000000;
    --text: #ffffff;
    --select-txt: #000000;
}

.light-mode {
    --bg: #ffffff;
    --text: #000000;
    --select-txt: #ffffff;
}


/*--------------- basic styling --------------- */
    /* overall styles */
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: "Roboto Mono" !important;
        background: var(--bg) !important;
        color: var(--text) !important;
        font-size: 14px;
    }
    /* whitespaces */
    .whitespace {
        width: 100%;
        height: 100px;
    }

    #text-body {
        font-weight: light; 
        text-align: justify;
    }
    
        /* text highlighting */
    ::selection {
        background: var(--select);
        color: var(--select-txt);
      }
      
    ::-moz-selection {
        background: var(--select);
        color: var(--select-txt);
    }

    
    /*--------------- navigation --------------- */
    nav {
        width: 100%;
        background: var(--bg);
        height: 80px;
        position: fixed;
        z-index: 1;
        font-size: 16px;
    }
    
    nav #brand {
        float: left;
        display: block;
        margin-left: 82px;
        line-height: 80px;
        font-weight: bold;
    }
    
    nav #brand a {
        color: var(--text);
        transition: all 0.3s ease-out;
        text-decoration: none;
    }
    
    nav #brand a:hover {
        text-decoration: none;
        color: var(--accent);
    }
    
    nav #menu {
        float: left;
        right: 80px;
        position: fixed;
    }
    
    nav #menu li {
        padding-left: 40px;
        display: inline-block;
        cursor: pointer;
        font-weight: 300;
        line-height: 80px;
        position: relative;
        transition: all 0.3s ease-out;
    }
    
    nav #menu li span {
        font-weight: 700;
    }
    
    nav #menu li a {
        color: var(--text);
        text-decoration: none;
    }
    
    nav #menu li a:hover {
        text-decoration: none;
        color: var(--accent);
    }
    
    #toggle {
        position: absolute;
        right: 30px;
        top: 20px;
        font-weight: 300;
        z-index: 2;
        width: 30px;
        height: 30px;
        cursor: pointer;
        float: right;
        transition: all 0.3s ease-out;
        visibility: hidden;
        opacity: 0;
    }
    
    #toggle .span:hover {
        color: var(--accent);
    }
    
    .close-btn {
        position: absolute;
        right: 16px;
        font-weight: 300;
        z-index: 2;
        cursor: pointer;
        top: -2px;
        line-height: 80px;
    }
    
    #resize {
        z-index: 1;
        top: 0px;
        position: fixed;
        background: var(--bg);
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all 1s ease-out;
    }
    
    #resize .close-btn:hover {
        color: var(--accent);
    }
    
    #resize #menu {
        height: 90px;
        position: absolute;
        left: 45%;
        transform: translateX(-40%);
        text-align: center;
        display: table-cell;
        vertical-align: center;
    }
    
    #resize #menu li {
        display: block;
        text-align: center;
        padding: 10px 0;
        font-size: 50px;
        min-height: 50px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
    
    #resize li:nth-child(1) {
        margin-top: 140px;
    }
    
    #resize #menu li a {
        color: var(--text);
        text-decoration: none;
    }
    
    #resize #menu li a:hover {
        text-decoration: none;
        color: var(--accent);
    }
    
    #resize.active {
        visibility: visible;
        opacity: 1;
    }
    
    #menu .active-tab {
        color: var(--accent);
    }
    
    @media(max-width: 768px) {
        #toggle {
              visibility: visible;
              opacity: 1;
              margin-top: 6px;
              margin-right: 4px;
        }
    
        nav #brand {
              margin-left: 24px;
        }
    
        #menu a {
              font-size: 20px;
              font-weight: 300;
        }
    
        #resize li span {
              font-weight: bolder;
        }
    
        nav #menu {
              display: none;
        }
    }
    
    @media(min-width: 768px) {
        #resize {
              visibility: hidden !important;
        }
    }
    
    /*--------------- MAIN section --------------- */
    .hero {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hero h1 {
        font-weight: lighter;
        text-align: center;
        letter-spacing: -2px;
        line-height: 58px;
    }

    .container a {
        text-decoration: none;
        color: var(--text);
    }

    .container a:hover {
        text-decoration: underline;
        color: var(--text);
    }

    .pure-link a {
        text-decoration: none;
        color: var(--grey);
    }
    
    .pure-lin a:hover {
        color: var(--accent);
    }

    #date {
        float: right;
        font-weight: lighter;
    } 

    ul li {
        margin-bottom: 5px;
    }

    ul li ul {
        margin-top: 10px;
    }

    ol li {
        margin-bottom: 5px;
    }

    ol li ol {
        margin-top: 10px;
    }

    #arrow-lst svg {
        transition: transform 0.3s ease, color 0.3s ease;
        color: var(--text);
    }
      
    #arrow-lst.active svg {
        transform: rotate(90deg);
    }

    #desc {
        text-align: justify;
        font-weight: lighter;
        margin: 8px 0 12px 0;
    }

    #title-li {
        font-weight: 450;
    }

    hr {
        border: 0;
        height: 1px;
        background: var(--grey);
    }

    hr #seperator {
        margin: 45px 0 45px 0;
    }
    
    @media(max-width: 768px) {
        .header h1 {
              font-size: 26px;
        }
    }
    
    
    /*--------------- footer section --------------- */
    .hr {
        background: var(--grey);
        height: 1px;
    }
    
    .info h5 {
        font-size: 18px;
        font-weight: lighter;
    }
    
    .info p {
        color: var(--grey);
        font-weight: lighter;
    }
    
    .info li {
        font-weight: lighter;
        color: var(--text);
        font-size: 18px;
        padding-left: 20px;
    }
    
    #personal {
        text-align: right;
    }
    
    #address a {
        text-decoration: none;
        color: var(--text);
    }
    
    #personal a {
        text-decoration: none;
        color: var(--text);
    }

    #media a:hover {
        text-decoration: none;
        color: var(--accent);
    }

    #address a:hover {
        text-decoration: none;
        color: var(--accent);
    }
    
    #media a {
        text-decoration: none;
        color: var(--text);
    }
    
    @media(max-width: 768px) {
        .collab, #personal, #media, #address {
              text-align: center;
        }
    
        .info ul {
              margin: 0 0 0 -22px;
              padding: 0;
        }
    }

    /*--------------- dark mode --------------- */
    #theme-toggle h5 {
        font-size: 16px;
        font-weight: lighter;
    }

    #theme-toggle h5:hover {
        cursor: pointer;
        color: var(--accent);
    }